* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor
}

img {
    max-width: 100%;
}

ul, ol, li {
    list-style: none
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;700&display=swap');


:root {
    --library-color: rgba(20, 25, 34, 1);
    --header-color: black;
    --toolbar-color: rgba(40, 40, 40, 1);
    --bar-padding: 1rem;
    --padding-standard: 2.5rem;
    --lighgrey-spotify: #a3a3a3;
}

/* UTILITY */
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.section-title {
    color: white;
    font-size: 1.5rem;
    padding: var(--bar-padding) 0;
    letter-spacing: 2px;
    font-weight: 700;
}

.paddsx {
    padding-left: var(--bar-padding);
}

/* MAIN LAYOUT */

body {
    font-family: 'Kanit';
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-section {
    background-color: var(--library-color);
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.main-section .library {
    background-color: var(--library-color);
    flex-basis: 100%;
    overflow: auto;
}

.toolbar {
    background-color: var(--toolbar-color);
    /* position: fixed;
    left: 0;
    right: 0;
    bottom: 0; */
}

.sidebar {
    background-color: var(--header-color);
    flex-basis: 230px;
    flex-shrink: 0;
    /* padding: var(--bar-padding); */
    font-size: 0.9rem;
    line-height: 1.4rem;
    overflow: hidden;
}

.library .header-library {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
}

/* SIDEBAR */


.sidebar .logo {
    padding-top: var(--bar-padding);
}
.sidebar .logo .logo-big {
    max-width: 160px;
    display: ;
}

.sidebar .logo .logo-small {
    max-width: 50px;
    margin: 0 auto;
    display: none;
}

.sidebar .flex {
    height: 100%;
}

.sidebar .flex .col:nth-child(3) {
    flex-grow: 1;
}


/* SIDEBAR MOBILE */
@media (max-width: 552px) {
    .sidebar {
        flex-basis: 80px;
    }

    .sidebar .col:nth-child(3) {
        display: none;
    }
    .sidebar li,
    .download,
    .login {
        text-align: center;
    }
    .nav span,
    .login span,
    .download span {
        display: none;
    }

    .sidebar .logo .logo-big {
        display: none;
    }

    .sidebar .logo .logo-small {
        display: inline-block;
    }

   .sidebar .col:last-child {
       margin-top: auto;
   }

   .sidebar-footer .download {
       border-bottom: solid black;
   }
}

/* navbar della sidebar (header) */

.sidebar .nav {
    padding-top: var(--bar-padding);
}
.sidebar .nav li {
    padding: 0.4rem var(--bar-padding);
    border-left: solid black 3px;
    opacity: 0.6;
}

.sidebar .nav li:hover {
    opacity: 1;
}

.sidebar .nav li:last-child {
    padding-bottom: 0;
}

.sidebar i {
    display: inline-block;
    height: 1.4rem;
    aspect-ratio: 1;
    vertical-align: middle;
}

.sidebar .nav li.pointer {
    border-left: solid lightgreen 3px;
    opacity: 1;
}


/* playlist della sidebar */

.playlist {
    padding-top: var(--padding-standard);
}

.sidebar .playlist h4 {
    padding-bottom: 0.5rem;
}

.create-list {
    margin-bottom: 1.2rem;
    opacity: 0.6;
}

.create-list i {
    color: black;
    background-color: var(--lighgrey-spotify);
    height: 1.8rem;
    aspect-ratio: 1;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    margin-right: 0.5rem;
    opacity: 0.6;
}

.create-list:hover  {
    opacity: 1;
}

.create-list li:hover {
    opacity: 1;
}

.list-playlist li {
    padding: 0.3rem 0;
}

.sidebar-footer {
    padding: var(--bar-padding);
}

.download {
    padding-bottom: 0.4rem;
    border-bottom: solid white 1px;
}

.download img,
.login img {
    height: 22px;
    aspect-ratio: 1;
    vertical-align: middle;
    margin-right: 0.2rem;
}

.login {
    padding-top: 0.4rem;
}

/* TOOLBAR */


.toolbar .col:first-child,
.toolbar .col:last-child {
    align-items: center;
}

.toolbar .col {
    padding: 10px;
    align-items: center;
    gap: 0.8rem;
}


.toolbar .col:nth-child(2) {
    flex-grow: 3;
}

.toolbar .track-thumb .thumb-small {
    height: 50px;
    aspect-ratio: 1;
}


.track.flex {
    gap: 0.4rem;
    align-items: center;
}

.track-name strong {
    margin-bottom: 0;
}
.track-name span{
    font-size: 0.8rem;
    color: var(--lighgrey-spotify);
}

.toolbar .icons {
    gap: 10px;
    color: var(--lighgrey-spotify);
  }

  .toolbar .col:last-child .icons {
      color: white;
  }

  .bar-container {
      width: 100px;
      height: 3px;
      border-radius: 999px;
      background-color: gray;
  }

  .bar-item {
    width: 30px;
    height: 3px;
    border-radius: 999px;
    background-color: var(--lighgrey-spotify);
  }

  .player .icons {
      gap: 2rem;
      padding-bottom: 0.2rem;
      color: white;
      font-size: 1.2rem;
      align-items: baseline;
  }

  .player .icons i:nth-child(3) {
      font-size: 1.8rem;
  }

.toolbar .col:nth-child(2) .bar-container {
    width: 45%;
    position: relative;
}

.toolbar .col:nth-child(2) .bar-container .bar-item {
    width: 30%;
}

.duration {
    font-size: 0.8rem;
    width: 100%;
    gap: 20px;
    align-items: center;
}

/* TOOLBAR MOBILE */

@media (max-width: 760px) {

    .toolbar .track-thumb{
        flex-shrink: 0;
    }

    .toolbar .col.flex {
        flex-basis: 0;
        flex-grow: 1;
        gap: 0.8rem;
    }
    .toolbar .track-name {
        font-size: 0.8rem;
    }

    .toolbar .icons {
        font-size: 0.8rem;
    }
    .toolbar .track-name span {
        font-size: 0.7rem;
    }

    .toolbar .col:first-child .icons {
        flex-direction: column;
    }

    .toolbar .col.center .icons {
        gap: 1rem;
    }

    .toolbar .col.center .player .icons i:nth-child(3) {
        font-size: 1.2rem;
    }

    .toolbar .duration {
        gap: 5px;
    }

    .toolbar .col:nth-child(3) .bar-container {
        width: 80%;
        margin-left: 5px;
    }

    .toolbar .col:nth-child(3) .bar-container .bar-item{
        width: 30%;
    }
}

/* LIBRARY */

.header-library .button{
    margin: 1rem 0.8rem;
    padding: 0.5rem 2rem;
    border: solid white 1px;
    border-radius: 999px;
}

@media (max-width: 450px) {

    .header-library .button {
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
    }
}

.library-main {
    padding: 0 var(--bar-padding);
}

.menu-section .nav {
    padding-top: var(--bar-padding);
    flex-basis: 100%;
    gap: 1rem;
    color: var(--lighgrey-spotify);
    text-transform: uppercase;
    font-size: 0.85rem;
}

.menu-section .nav li:first-child  {
    display: flex;
    flex-direction: column;    
}

.menu-section .nav li:first-child ::after {
    content: '';
    display: block;
    height: 3px;
    width: 50%;
    background-color: lightgreen;
    margin: 0.25rem auto;
}

.main-section .library-main  section .row {
    column-gap: 0.8rem;
    row-gap: 0;
}

.thumbnail {
    max-width: 180px;
    position: relative;
} 

.thumbnail .play-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 3rem;
    display: none;
}

.thumbnail:hover .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


.thumb-container .track-name {
    text-align: center;
}

.sub-title {
    font-size: 0.85rem;
    opacity: 0.6;
    padding-bottom: var(--bar-padding);
}